body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 350px;
  height: 600px;
  background-color: #1f5878;
  padding: 20px 30px;
  border-radius: 5px;
}

button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-weight: 900;
  border-radius: 10px;
}

.result-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 20px;
  background-color: #e69893;
  border-radius: 10px;
  font-weight: 900;
  font-size: 30px;
}

.input-section {
  height: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.command-column {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
}

.wide-btn {
  width: 100%;
}

.shallow-btn {
  width: 47%;
}

.com-btn {
  background-color: #e69893;
}

.oper-btn {
  color: white;
  background-color: #313132;
}

.num-btn {
  background-color: #bcb2b2;
}